@model herejes_del_sazon.Models.ViewModels.MenuViewModel

@{
    ViewData["Title"] = "Menú";
}

<section class="container-custom">

   

    <div class="section-header">

        <h1>Nuestro Menú</h1>

        <p>
            Descubre todos nuestros platillos preparados con ingredientes locales.
        </p>

    </div>

    <div class="menu-filters">

        <button class="active"
                data-category="Todos">

            Todos

        </button>

        @foreach (var categoria in Model.Categorias)
        {
            <button data-category="@categoria">

                @categoria

            </button>
        }

    </div>

    <div id="emptyMenuMessage"
      class="empty-menu-message"
      style="display:none;">

     <h3>No hay platillos disponibles.</h3>

     <p>
        Prueba seleccionando otra categoría.
     </p>

    </div>

    <div class="food-grid">

        @foreach (var platillo in Model.Platillos)
        {
            <partial name="_FoodCard" model="platillo" />
        }

    </div>

</section>

</section>

@section Scripts{

    <script src="~/js/menu.js"
            asp-append-version="true"></script>

}